.normal-text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.tel-text {
  font-family: 'Montserrat';
  font-size: 21px;
  font-weight: 500;
  line-height: 26px;
}

.semi-text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.small-text {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

.bold-text {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.mid-text {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}

.big-text {
  font-family: 'Montserrat';
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.var-text {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}