$blue: #2B7BC6;
$light-blue: #1061AB;
$lighter-blue: #2B7BC6;
$deep-blue: #004C93;
$black: #000000;
$yellow: #FFD600;
$white: #FFFFFF;
$light-white: #FBFAF9;
$white-blue: #F1F8FF;
$set-blue: #E1EEFB;
$bg-blue: #F3F9FF;
$aqua: #3BB9B8;
$silver: #9DA4A8;
$trans-black: rgba(0, 0, 0, 0.1);
$trans-black2: rgba(0, 0, 0, 0.2);
$trans-black3: rgba(0, 0, 0, 0.6);
$success: #00ff00;
$warning: #ffa500;
$danger: #ff0000;
$green: #00E61B;